@model TipoCuenta
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}
<h1>Crear Tipo cuenta</h1>

<h5>Ejemplos de cuentas: Prestamos, tarjetas de credito, etc.</h5>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form asp-action="Crear">

        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label> 
            <input asp-for="Nombre" type="text" class="form-control"/>
            <span class="text-danger" asp-validation-for="Nombre"></span>
        </div>

        <button type="submit" class="btn btn-primary">
            Enviar
        </button>
        <button class="btn btn-danger" asp-action="Index">
            Cancelar
        </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
