<div class="text-center">
    <h1 class="display-4">Olá! Sou Miguel Angel Lofredo</h1>
    <h2>Desenvolvedor Full Stack</h2>

    <img 
        id="image" 
        src="~/images/20220721_132030.jpg" 
        alt="Foto do Miguel"/>
        <div class="row justify-content-center text-center bg-primary sobre-mim">
            <div class="col col-md-7 bemvindo">

                <h1>Bem-vindo ao meu portfolio!</h1>
                    <p>Sou argentino, moro no brasil há 4 anos, tenho 37 anos e sou formado na escola Trybe como Desenvolvedor Full Stack.
                       Tenho mais de 30 projetos feitos entre Front-End e Back-End todos feitos durante minha carreira como estudante. Atualmente estou estudando C# / Asp.NET / SLQServer, 
                       lenguagem e plataforma que estou amando e queiro me especializar.
                    </p>
            </div>
        </div>
</div>