@model IEnumerable<Project>

@if (Model is not null)
{
            <div class="text-center" style="padding-top: 6rem;">
            <h1>Meus trabalhos recentes</h1>
        </div>
    <partial name="_ListadoProjetos" model="Model" />
}
