<div style="margin-top: -60px">
            <div class="row justify-content-md-center text-center">
                <div class="col col-3 bg-white" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 grey">
                    <i class="bi bi-hdd-fill"></i>
                    <h3 class="text-primary">Back End</h3>
                    <p  class="text-primary">Stacks:</p>
                    <ul>
                        <li>Docker</li>
                        <li>MySQL</li>
                        <li>Node</li>
                        <li>Typescript</li>
                        <li>MongoDB</li>
                    </ul>

                </div>

                <div class="col col-3 bg-white" style="border-radius: 0px 15px 15px 0px; box-shadow: 0 5px 5px 0 grey">
                    <i class="bi bi-code-slash" style="font-size: 15px"></i>
                    <h3 class="text-primary">Front End</h3>
                    <p  class="text-primary">Stacks:</p>
                        <ul>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            <li>Javascript</li>
                            <li>React</li>
                        </ul>

                </div>

            </div>
        </div>