
@{
    ViewData["Title"] = "Gracias";
}

<h1>Obrigado por se contatar!</h1>
<p>Responderei o mais pronto possivel.</p>
<div>
    <a asp-controller="Home" asp-action="Index">Voltar ao inicio</a>
</div>
