@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}
<div class="container">
    <h1>Meus Projetos</h1>
    <p>Aqui pode ver todos meus projetos</p>
</div>
    <partial name="_ListadoProjetos" model="Model" />
